.layout-container {
    width: 375px;
    height: 667px;
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: relative;
}

.layout-header {
    width: 375px;
    height: 207px;
    background-color: var(--primary-color);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}

.layout-header img {
        width: 47px;
    height: 62px;
    margin-top: 20px;
}